<!-- <h3>My Carts</h3>


<table class="table">
    <thead>
        <tr>
            <th>S.no</th>
        <th>Products</th>
        <th>price</th>
        <th>Qty</th>
        <th>total</th>
        
        </tr>
    </thead>

    <tr *ngFor="let view of viewCarts ; index as i">
        <td>{{i+1}}</td>
        <td>{{view.pdtname | titlecase}}</td>
        <td>{{view.pdtprice | currency:'INR'}}</td>
        <td>{{view.pdtqty}}</td>
        <td>{{view.pdtprice*view.pdtqty | currency:'INR' }}</td>

    </tr>
    
</table> -->