################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.angular
*.pack
/node_modules
/.vs/slnx.sqlite
